@import "../../main.scss";

.title-wrap{
   h1{
       text-transform: uppercase;
       text-align: center;
       font-weight: 800;
       color: $main-blue;
   }
   .line-vr{
       width: 2px;
       height: 80px;
       margin: 20px auto 0;
       &.blue{
           background-color: $main-blue;
       }
       &.orange{
           background-color: $main-orange;
       }
   }

}